body {
    background-color: rgb(25, 250, 5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}
body-1 {
    color: green;